<!DOCTYPE html>
<html>
<head>
  <title>TrialTwitterAuthenticationPerfect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
<%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>

<%= yield %>

</body>
</html>
